<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key><string>$(EXECUTABLE_NAME)</string>
    <key>LSRequiresIPhoneOS</key><true/>
    <key>CFBundleDisplayName</key><string>Mayhem Kart</string>
    <key>CFBundleIdentifier</key><string>net.teamceleste.mayhemkart</string>
    <key>CFBundleName</key><string>Mayhem Kart</string>
    <key>CFBundleShortVersionString</key><string>26.0</string>
    <key>CFBundleVersion</key><string>26.0</string>
    <key>UILaunchScreen</key><dict/>
    <key>UISupportedInterfaceOrientations</key>
    <array><string>UIInterfaceOrientationLandscapeLeft</string><string>UIInterfaceOrientationLandscapeRight</string></array>
    <key>NSLocalNetworkUsageDescription</key>
    <string>Mayhem Kart uses the local network to find nearby players.</string>
    <key>NSBonjourServices</key>
    <array>
        <string>_mayhemkart._tcp</string>
    </array>
</dict>
</plist>
